.content {
  background-color: #D9D9D9;
  border-radius: 15px;
  padding: 10px;
  margin: 0 auto;
  width: min-content;
  min-width: 650px;
  display: grid;
  row-gap: 20px;
}

.carts { 
  list-style-type: none;
  margin: 0;   
  padding: 0;
  display: grid; 
  gap: 10px;
}

.title {
  margin: 0;
  padding: 0; 
  font-size: 36px;  
  line-height: 44px;
  font-weight: 400;
}

.buttons{
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 10px;
}


.button{
  background-color: #222222;
  border-radius: 15px;
  width: 100%;
  color: #F0F0F0;  
  font-size: 36px;  
  line-height: 44px;
  font-weight: 400;
}

.button:hover {
  border: none;
  background-color: #0d6129;
}

.button_disabled {
  background-color: #d6d6d6;
  pointer-events: none;
}

.error {
  color: red;
}

.text {
  font-size: 24px;  
  line-height: 29px;
  font-weight: 400;
  margin: 0;
  padding: 0; 
}